<!DOCTYPE html>
<html ng-app="login">
  <head lang="en">
    <meta charset="UTF-8">
    <title>Cash Flow</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  </head>
  <body class="ng-cloak" ng-controller="loginController">
    <!-- NAVBAR SECTION -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools theme">
          <md-button class="md-icon-button" aria-label="Settings"><i class="material-icons">account_balance_wallet</i></md-button>
          <h2>
            <span>Personal Finance Consulting</span>
          </h2>
        </div>
      </md-toolbar>
    </md-content>
    <!-- JUMBOTRON SECTION -->
    <div flex class="jumbotron" id="anchor1"> <!-- page should load and move to this section here automatically -->
      <div flex><h2 class="greeting">Cash Flow</h2></div>
      <div flex class="greetingbtn">
        <div flex></div>
        <md-button flex class="md-raised md-primary theme" ng-click="showTabDialog($event)">Login</md-button>
        <div flex></div>
      </div>
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="public/scripts/login.js"></script>
    <script src="public/scripts/controllers/logincontroller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="public/scripts/angular-plaid-link.js"></script>
    <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
    <script src="public/scripts/routers/angular-plaid-config-login.js"></script>
    <link rel="stylesheet" href="public/stylesheets/login.css">
  </body>
</html>