<!DOCTYPE html>
<html ng-app="financeapp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    </head>
    <body ng-controller="UICtrl" layout="column" ng-cloak>
        <!-- Navbar -->
        <md-toolbar layout="row" class="titleelement md-whiteframe-z3">
            <md-button ng-click="toggleLeft(); closeright()" class="md-primary cashnavtoggle"></md-button>
            <h1>Slate</h1>
            <span flex></span>
            <h1>Home</h1>
            <span flex></span>
            <md-button href="/logout" class="md-primary logouttoggle"></md-button>
        </md-toolbar>
        <!-- Main Content Wrapper -->
        <div flex layout="row">
            <!-- Balance SideNav -->
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar slide-toggle="#cash">
                    <h1 class="md-toolbar-tools titleelement">Cash<i class="material-icons expand-icon-toggle toggle">expand_less</i></h1>
                </md-toolbar>
                <md-list>
                    <div id="cash" class="slideable">
                        <md-list-item class="md-2-line" ng-repeat="account in userfinancialdata | filter: search.subtypeCash">
                            <div class="md-list-item-text">
                                <h3>{{account.meta.name}}</h3>
                                <p>${{account.balance.available}}</p>
                            </div>
                        </md-list-item>
                    </div>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Total</h3>
                            <p>${{calculateTotal('checking')}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-toolbar slide-toggle="#accounts">
                    <h1 class="md-toolbar-tools titleelement">Accounts<i class="material-icons expand-icon-toggle">expand_less</i></h1>
                </md-toolbar>
                <md-list>
                    <div id="accounts" class="slideable">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3>Fixed Expenses</h3>
                                <p>$0</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3>Investment<i class="material-icons expand-icon-toggle">expand_less</i></h3>
                                <p>$0</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div slide-toggle="#savings" class="md-list-item-text">
                                <h3>Short-Term Savings<i class="material-icons expand-icon-toggle">expand_less</i></h3>
                                <p>${{calculateTotal('savings')}}</p>
                            </div>
                        </md-list-item>
                        <div id="savings" class="slideable">
                            <md-list-item class="md-2-line" ng-repeat="account in userfinancialdata | filter: search.subtypeSavings">
                                <div class="md-list-item-text submenu">
                                    <h3>{{account.meta.name}}</h3>
                                    <p>${{account.balance.available}}</p>
                                </div>
                            </md-list-item>
                        </div>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3>Personal Development</h3>
                                <p>$0</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3>Personal Spending</h3>
                                <p>$0</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3>Retirement<i class="material-icons" style="position:absolute; right:20px; top:20px">expand_less</i></h3>
                                <p>$0</p>
                            </div>
                        </md-list-item>
                    </div>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Total</h3>
                            <p>${{calculateTotal('savings')}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div flex></div>
                        <span>You have {{usertransactionsdata.length}} new transactions</span>
                        <div flex></div>
                    </md-list-item>
                    <md-list-item>
                        <div flex></div>
                        <div flex><md-button ui-sref="personalspending" ng-click="toggleRight()" class="md-primary">View Transactions</md-button></div>
                        <div flex></div>
                    </md-list-item>
                </md-list>
            </md-sidenav>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <div ui-view></div>
            </md-sidenav>
            <!-- Main Content Wrapper -->
            <div flex layout="column">
                <!-- Assets Modules -->
                <md-content flex class="module-groups">
                    <div layout="row" class="modules">
                        <div ng-click="toggleRight()" class="paperassets-module-img module-selection" flex>Paper Assets</div>
                        <div ng-click="toggleRight()" class="commodities-module-img module-selection" flex>Commodities</div>
                        <div ng-click="toggleRight()" class="realestate-module-img module-selection" flex>Real Estate</div>
                        <div ng-click="toggleRight()" class="entrepreneurial-module-img module-selection" flex>Entrepreneurial</div>
                    </div>
                </md-content>
                <md-divider></md-divider>
                <!-- Liabilities Modules -->
                <md-content flex class="module-groups">
                    <div layout="row" class="modules">
                        <div ng-click="toggleRight()" class="personal-module-img module-selection-personal" flex>Personal Spending</div>
                        <div ng-click="toggleRight()" class="fixed-module-img module-selection-fixed" flex>Fixed Expenses</div>
                        <div ng-click="toggleRight()" class="home-module-img module-selection-home" flex>Home</div>
                    </div>
                    <div layout="row" class="modules">
                        <div ng-click="toggleRight()" class="car-module-img module-selection-car" flex>Car</div>
                        <div ng-click="toggleRight()" class="business-module-img module-selection-business" flex>Business</div>
                        <div ng-click="toggleRight()" class="student-module-img module-selection-student" flex>Student</div>
                    </div>
                </md-content>
            </div>
        </div>
      
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Your application bootstrap  -->
        <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
        <script src="public/scripts/angular-plaid-link.js"></script>
        <script src="public/scripts/app.js"></script>
        <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
        <link href="bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet"/>
        <script src="public/scripts/controllers/uicontrollers.js"></script>
        <script src="public/scripts/routers/uirouter.js"></script>
        <script src="public/scripts/angularSlideables.js"></script>
        <script src="public/scripts/services/dashboarduserdata.js"></script>
        <link href="public/stylesheets/ui.css" rel="stylesheet">
        <link rel="stylesheet" href="public/stylesheets/personalspending.css"/>
    </body>
</html>