<md-toolbar class="md-whiteframe-1dp module-title">
    <div class="md-toolbar-tools titleelement">
        <div flex class="md-title">View Transactions</div>
		<md-button ng-click="closemodule()" class="md-primary">Close Module</md-button>
    </div>
</md-toolbar>
<md-content layout-padding>
	<md-card>
		<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
          	<div class="md-toolbar-tools table-title">
            	<span>Your New Transactions</span>
          	</div>
        </md-toolbar>
		<md-table-container>
		  	<table md-table>
		    	<thead md-head md-order="userTransactions">
		      		<th md-column md-order-by="date"><span>Date</span></th>
		      		<th md-column md-order-by="name"><span>Description</span></th>
		      		<th md-column><span>Category</span></th>
		      		<th md-column md-numeric><span>Amount</span></th>
		      		<th md-column hide-gt-xs show-gt-md><span>Location</span></th>
		      		<th md-column><span>Notes</span></th>
		    	</thead>
		    	<tbody md-body>
		      		<!-- we can let ng-repeat sort the columns for us -->
		      		<tr ng-repeat="transaction in transactions | orderBy: userTransactions | limitTo: query.limit : (query.page -1) * query.limit">
		    			<td md-cell><p>{{transaction.date}}</p></td>
		    			<td md-cell><p>{{transaction.name}}</p></td>
		    			<td md-cell>
		    				<md-select ng-model="transaction.slateAccount" placeholder="Account Type">
    							<md-option ng-click="debug()" ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
  							</md-select>
  						</td>
		    			<td md-cell><p>${{transaction.amount}}</p></td>
		    			<td md-cell hide-gt-xs show-gt-md><div ng-show="addressRecorded(transaction)"><p>{{transaction.meta.location.address}} {{typeoftransaction.meta.location.city}}, {{transaction.meta.location.state}} {{transaction.meta.location.zip}}</p></td>
		    			<td md-cell><p></p></td>
		    			<td md-cell><md-button class="md-primary" ng-show="transaction.slateAccount" ng-click="categorizetransaction(transaction)"><i class="material-icons">clear</i></md-button></td>
		      		</tr>
		    	</tbody>
		  	</table>
		</md-table-container>
		<md-table-pagination md-options="query.options" md-limit="query.limit" md-page="query.page" md-total="{{user.transactions.length}}"></md-table-pagination>
	</md-card>
</md-content>





